<!-- <ion-header>
    <ion-toolbar>
        <ion-title>{{bakery.nombre}}</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-item lines="none" class="ion-no-padding">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="inicio"></ion-back-button>
        </ion-buttons>
    </ion-item>
    <img [src]="bakery.img || 'assets/images/noImage.png'" alt="bakeryImage">
    <h3 style="width: 100%; text-align: center;">{{bakery.nombre}}</h3>
    <br>
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngFor="let product of products" size="6">
                <ion-card [routerLink]="[product.id]">
                    <img [src]="product.img || 'assets/images/noImage.png'" alt="">
                    <ion-card-header>
                        <ion-card-title>{{product.nombre}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p style="font-size: small;">{{product.descripcion}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <app-process-btn></app-process-btn>
    </ion-toolbar>
</ion-footer>